@{
    ViewData["Title"] = "Home Page";
}
<style>
    /* Custom styles for the navigation bar */
    .navbar {
        background-color: grey; /* Sets the background color of the nav bar to grey */
    }
 
    .navbar-nav .nav-link {
        color: grey; /* Sets the text color of the nav links to white */
    }
 
    .navbar-brand {
        color: grey; /* Sets the text color of the brand to white */
    }
 
    
 
</style>
 
<div class="text-center">
<h1 class="display-4">Welcome To LearnConnect</h1>
<br />
<div>
<p>We are driven by a passion to make top-tier lectures accessible to all who seek knowledge.</p>
<p>Whether for private enrichment or academic advancement, we connect you with the perfect lecturer to meet your needs.</p>
<div style="display: flex; justify-content: center; gap: 100px;">
<div style="display: flex; flex-direction: column; align-items: center;">
<h4>Humanities</h4>
<img src="~/pictures/stockcake-lecturer addressing audience_1724159648.jpg" alt="Lecturer Addressing Audience" style="width: 300px; height: auto;" />
</div>
<div style="display: flex; flex-direction: column; align-items: center;">
<h4>Philosophy</h4>
<img src="~/pictures/stockcake-lecturer holding attention_1724159673.jpg" alt="Lecturer Holding Attention" style="width: 300px; height: auto;" />
</div>
<div style="display: flex; flex-direction: column; align-items: center;">
<h4>Space Science</h4>
<img src="~/pictures/stockcake-lecturer at podium_1724160148.jpg" alt="Lecturer at Podium" style="width: 300px; height: auto;" />
</div>
</div>
</div>
</div>